{% extends "blog/base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <h4>Kayıt Ol</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {%csrf_token%}
                    <div class="mb-3 ">
                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <div class=" form-control">
                    {{form.username}}
                    </div>
                    </div>
                    <div class="mb-3 ">
                    <label for="password1" class="form-label">Şifre</label>
                    <div class=" form-control">
                    {{form.password1}}
                    </div>
                    </div>
                    <div class="mb-3">
                    <label for="password2" class="form-label">Şifre tekrar</label>
                    <div class=" form-control">
                    {{form.password2}}
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}